@import "@fontsource/dm-sans";
@import "tailwindcss";


/* Global pointer cursor for interactive elements */
button,
a,
[role="button"] {
  cursor: pointer;
}

/* body {
  font-family: 'DM Sans', system-ui, sans-serif;
} */

body,* {
  font-family: 'DM Sans', system-ui, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

